article p {
  font-size: 14px;
  line-height: 25px;
}

.roomContainer {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-content: space-around;
}

@media only screen and (min-width: 0px) {
  .display {
    padding-left: 40px;
    padding-top: 15px;
  }
}
@media only screen and (min-width: 360px) and (max-width: 430px)  {
  .roomContainer div img{
    border: 1px solid red;
    max-width: 390px;

  }
}
@media only screen and (min-width: 1140px) {
  .display {
    padding-left: 12.5rem;
    padding-top: 15px;
  }
}
