article p {
  font-size: 14px;
  line-height: 25px;
}

.roomContainer {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-content: space-around;
}

@media only screen and (min-width: 0px) {
  .display {
    padding: 0 40px;
    padding-top: 15px;
  }
}
@media only screen and (min-width: 360px) and (max-width: 430px)  {
  .roomContainer div img{
    max-width: 390px;

  }
}
@media only screen and (min-width: 1140px) {
  .display {
    padding-left: 12.5rem;
    padding-top: 15px;
  }
}
.roomContainer img {
  width: 100%;
  height: auto;
  margin-bottom: 10px; 
}

@media (min-width: 0px) and (max-width: 1200px) {
  .roomContainer {
    display: flex;
    flex-direction: column;
    justify-content: center; 
  }

  .roomContainer img {
    max-width: 100%;
  }
}

@media (min-width: 1201px) {
  .roomContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
  }
  .roomContainer div {
    width: 33%;
  }

  .roomContainer img {
    max-width: none;
    height: 350px; 
  }
}
