@media only screen and (min-width: 0px) {
  .footer-text {
    text-align: center;
    font-weight: bolder;
  }
  .footer-links {
    display: flex;
    justify-content: center;
    gap: 5px;
  }
}

@media only screen and (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-around;

    max-width: 400px;

    margin: 0 auto;
  }
}
